<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Account Info</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

  <link rel="stylesheet"   href="/css/stylesheet.css">
  <link rel="stylesheet"   href="/css/stylesheet.css">

  <style>
    body{
      padding-top: 60px;
    }
  </style>
</head>
<body >
<div th:if="${customerList.isEmpty()}">
  <h1 class="text-center">No account has been created yet..</h1>
</div>
<div th:unless="${customerList.isEmpty()}">
<h1 style="align-items: center; color: #e8716d" class="text-center" >Account has been created</h1>
<div  class="card bg-dark" style="margin-left: 500px; width: 900px">
  <div th:each="customer : ${customerList}" class="card-header text-center"><h1 class="text-white">Personal Information</h1>
    <div class="card-footer bg-white" style="margin-top: 1px"><h5 class="text-danger">ID </h5><h4 th:text="${customer.customerId}"> </h4></div>
  <div class="card-footer bg-white" style="margin-top: 1px"><h5 class="text-danger">Email </h5><h4 th:text="${customer.email}"> </h4></div>
  <div class="card-body bg-white"style="margin-top: 1px" ><h5 class="text-danger">Registration Date </h5><h4 th:text="${customer.regDate}"> </h4></div>
  <div class="card-footer bg-white" style="margin-top: 1px"><h5 class="text-danger">Active </h5><h4 class="text-success" th:text="${customer.active}"></h4></div>

    <h1 class="text-white text-danger">Account Details</h1>
    <div class="card-footer bg-white" style="margin-top: 1px"><h5 class="text-danger">City </h5><h4 th:text="${customer.details.detailsId}"></h4></div>
    <div class="card-footer bg-white" style="margin-top: 1px"><h5 class="text-danger">City </h5><h4 th:text="${customer.details.city}"></h4></div>
    <div class="card-footer bg-white" style="margin-top: 1px"><h5 class="text-danger">Street </h5><h4 th:text="${customer.details.street}"> </h4></div>
    <div class="card-footer bg-white" style="margin-top: 1px"><h5 class="text-danger">ZipCode </h5><h4 th:text="${customer.details.zipCode}"> </h4></div>
    <div class="card-footer bg-white" style="margin-top: 1px"><h5 class="text-danger">HomePhone </h5><h4 th:text="${customer.details.homePhone}"></h4></div>
    <div class="card-footer bg-white" style="margin-top: 1px"><h5 class="text-danger">CellPhone </h5><h4 th:text="${customer.details.cellPhone}"></h4></div>


</div>
</div>
</div>
</body>
</html>