<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>navbar</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

  <link rel="stylesheet"   href="/css/stylesheet.css">
  <link rel="stylesheet"   href="/css/stylesheet.css">

  <style>
    body{
      padding-top: 60px;
    }
  </style>
</head>
<body th:if="${customerList.isEmpty()}">
<h1 class="text-center">No account has been created yet..</h1>
<div th:unless="${customerList.isEmpty()}">
<h1 style="align-items: center; color: #e8716d" class="text-center" >Account has been created</h1>
<div  class="card" style="margin-left: 500px; width: 900px">
  <div th:each="customer : ${customerList}" class="card-header text-center"><h5 >Account Details</h5></div>
  <div class="card-footer border border-danger" style="margin-top: 1px"><h4 th:text="${customer.email}">Email  : </h4></div>
  <div class="card-body border border-primary"style="margin-top: 1px" ><h4 th:text="${customer.regDate}">regDate : </h4></div>
  <div class="card-footer border border-primary" style="margin-top: 1px"><h4 th:text="${customer.active}">Active  : </h4></div>
  <div class="card-footer border border-danger" style="margin-top: 1px"><h4 th:text="${customer.details}">Details  : </h4></div>
</div>
</div>

</body>
</html>