<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


<link rel="stylesheet" href="/css/home.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>

    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<header>
<nav th:insert="fragments/navbar" :: navbar></nav>

</header>
<h1 class="text-center">Home Page</h1>

<br>
<br>
<div class="sign-up-modal">
    <div id="close-modal-button">
    </div>

    <div class="logo-container">
        <svg class="logo" width="94.4px" height="56px">
            <g>
                <polygon points="49.3,56 49.3,0 0,28 	" />
                <path d="M53.7,3.6v46.3l40.7-23.2L53.7,3.6z M57.7,10.6l28.4,16.2L57.7,42.9V10.6z" />
            </g>
        </svg>
    </div>


    <form class="details was-validated" th:action="@{/account/post/}" method="post" th:object="${customer}" >

            <input class="col-sm-12 email-input with-placeholder" name="email" th:field="*{email}" type="email" placeholder="Email" />
            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors = "*{email}"></p>


            <input class=" col-sm-12 email-input with-placeholder" name="city" th:field="*{details.city}" style="padding: 10px" type="text" placeholder="City"  />
            <p class="alert alert-danger" th:if="${#fields.hasErrors('details.city')}" th:errors = "*{details.city}"></p>

            <input class=" col-sm-12 email-input with-placeholder" name="street" th:field="*{details.street}" style="padding: 10px" type="text" placeholder="Street"/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('details.street')}" th:errors = "*{details.street}"></p>


            <input class=" col-sm-12 email-input with-placeholder" name="zipcode" th:field="*{details.zipCode}" style="padding: 10px" type="text" placeholder="ZipCode" />
            <p class="alert alert-danger" th:if="${#fields.hasErrors('details.zipCode')}" th:errors = "*{details.zipCode}"></p>


            <input class=" col-sm-12 email-input with-placeholder"  th:field="*{details.homePhone}"style="padding: 10px" type="text" placeholder="Home phone" />
            <p class="alert alert-danger" th:if="${#fields.hasErrors('details.homePhone')}" th:errors = "*{details.homePhone}"></p>


            <input class=" col-sm-12 email-input with-placeholder" th:field="*{details.cellPhone}" style="padding: 10px" type="text" placeholder="++46" />
            <p class="alert alert-danger" th:if="${#fields.hasErrors('details.cellPhone')}" th:errors = "*{details.cellPhone}"></p>


      <input type="submit" class="btn btn-danger text-white  bg-danger "   value="Register" />


    </form>

</div>
<footer th:insert="fragments/footer" ::footer></footer>

<script src="/js/home.js"></script>
</body>
</html>